{% extends 'app/base.html' %}
{% load static %}
{% block title %}Top Wear{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
      <a href="{% url 'topwear' %}" class="list-group-item
      list-group-item-action" aria-current="true">All Topwears</a>
      <a href="{% url 'topweardata' 'KORRA' %}"
      class="list-group-itemlist-group-item-action" aria-current="true">KORRA topwear</a>
      <a href="{% url 'topweardata' 'Levies' %}"
      class="list-group-itemlist-group-item-action">Levies topwear</a>
      <a href="{% url 'topweardata' 'below' %}"
      class="list-group-itemlist-group-item-action">Below 500</a>
      <a href="{% url 'topweardata' 'above' %}"
      class="list-group-itemlist-group-item-action">Above 500</a>

   </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <div class="row">
      {% for product in tw %}
        <div class="col-sm-4 text-center mb-4">
          <a href="{% url 'product-detail' product.id %}"
          class="btn">
          <div class="item">
            <img src="{{product.product_image.url}}" alt="" 
            height="300" class="">
            <div class="fw-bold">{{product.title}}</div>
            <div class="fw-blod">Tk. {{product.discount_price}}
            <small class="fw-light text-decoration-line-through">
            {{product.sellling_price}}</small></div>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}